html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow: hidden;
}

.main-layout {
    display: flex;
}

/* Default: Dark Theme */
:root {
  --background-color: #1e1e2f;
  --text-color: white;
  --button-bg: #2a2a3c;
  --button-text: white;
  --button-hover: #333;
  --border-color: #333;
   --secondary-text-color: #8b949e; /* Muted gray for table headers */
  --hover-bg-color: #21262d4d;     /* A transparent darker shade for row hover */
  --page-bg-color: #0d1117;        /* The darkest background for the page itself */
}

.light-theme {
  --background-color: white;
  --text-color: black;
  --button-bg: #ddd;
  --button-text: black;
  --button-hover: #bbb;
  --border-color: #ccc;
  /* Additional variables */
  --secondary-text-color: #57606a;
  --hover-bg-color: #f6f8fa;
  --page-bg-color: #f3f4f6;
}

/* Apply to the entire app container */
.app {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}
